*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/ducks.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: 'Sora', sans-serif;
    
}

textarea{
    background-color: transparent!important;
    border: none!important;
    resize: none;
}

@font-face {
    font-family: Delight;
    src: local(Delight Candles), url(../styles/Delight\ Candles\ .ttf);
 }

div .col{
    padding: 0;
}
#center-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    max-width: 1100px;
    height: 630px!important;
}

#player1, #player2{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}
#player1{
    /* background-image: url(../images/baralho-espanhol-nipes.jpg); */
}
#player2{
    /* background-image: url(../images/baralho-espanhol-nipes-invertido.jpg); */
}

.teamName{
    font-size: 30px!important;
}

.teamPoints h1{
    font-size: 150px!important;
}

#trucoButton{
    max-width: 500px;
    height: 100px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto 50px auto;
    border-radius: 10px;
    cursor: pointer;
}

.pointer{
    cursor: pointer!important;
}

#trucoButtonText{
    font-size: 30px!important;
}

.buttons div{
    height: 100px;
}

.plusAndLessDiv{
    width: 100px!important;
}

.plusAndLessDiv h1{
    font-size: 90px;
    display: none;
}

.plusLessButton{
    width: 100%!important;
}

#gameOver{
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 50px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameOverBox button, h2{
    font-size: 40px;
}

#gameOverPointsBox{
    width: 600px;
}

#gameOverPointsBox p{
    font-size: 35px;
}

.gameOverScore{
    font-size: 50px!important;
}

/* Colors */

.red{
    color: #eb2225!important;
}

.red-bg{
    background-color: #eb2225!important;
}

.white{
    color: #bbc4c8!important;
}
.white-bg{
    background-color: #bbc4c8!important;
}

.d-red{
    color: #790b0c!important;
}

/* media queries */
@media(max-width: 770px){
    #player1, #player2{
        border-radius: 0px!important;
    }
}

@media(max-width: 600px){
    .plusAndLessDiv{
        width: 100%!important;
    }
    #gameOverPointsBox{
        max-width: 340px!important;
    }
    #gameOverPointsBox p, button{
        font-size: 25px!important;
    }
}
