*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/ducks.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

textarea{
    background-color: transparent!important;
    border: none!important;
    resize: none;
}

#center-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    border-radius: 10px;
    max-width: 1100px;
    height: 630px!important;
}

#player1, #player2{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}
#player1{
    /* background-image: url(../images/baralho-espanhol-nipes.jpg); */
}
#player2{
    /* background-image: url(../images/baralho-espanhol-nipes-invertido.jpg); */
}

.teamName{
    font-size: 30px!important;
}

.teamPoints h1{
    font-size: 150px!important;
}

#trucoButton{
    max-width: 500px;
    height: 100px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto 50px auto;
    border-radius: 10px;
    cursor: pointer;
}

#trucoButtonText{
    font-size: 50px!important;
}

.buttons div{
    height: 100px;
}

.plusLessButton{
    width: 75px;
}

/* Colors */

.red-bg{
    background-color: #eb2225!important;
}

.white{
    color: #bbc4c8!important;
}
.white-bg{
    background-color: #bbc4c8!important;
}

.d-red{
    color: #790b0c!important;
}

.teste{
    color: red;
}

